nodered/json/flows.json
[
    {
        "id": "14f4e84d1fc22323",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "077c3cbfbd251567",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8eaad97b18886c7c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f0d12f171d93f26e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1f97d3e5d418c703",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0f4a141f31fe37f9",
        "type": "ui_group",
        "name": "kelembaban",
        "tab": "f0d12f171d93f26e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "60206ce6eeae9852",
        "type": "ui_group",
        "name": "suhu",
        "tab": "f0d12f171d93f26e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5bfc189ae5d5caf7",
        "type": "ui_group",
        "name": "atur lampu",
        "tab": "f0d12f171d93f26e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fcf83a616cbb3c22",
        "type": "debug",
        "z": "14f4e84d1fc22323",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "13e5b71578e99e5e",
        "type": "inject",
        "z": "14f4e84d1fc22323",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sudah berhasil instal",
        "payloadType": "str",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "fcf83a616cbb3c22"
            ]
        ]
    },
    {
        "id": "dac4377eb89e46e5",
        "type": "mqtt in",
        "z": "077c3cbfbd251567",
        "name": "suhu",
        "topic": "/10121022/test/kirim/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8eaad97b18886c7c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "8bd046feb6b3a2ab"
            ]
        ]
    },
    {
        "id": "0b172c6e785d45e0",
        "type": "mqtt in",
        "z": "077c3cbfbd251567",
        "name": "kelembaban",
        "topic": "/10121022/test/kirim/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8eaad97b18886c7c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "7606bba2a7b6f554"
            ]
        ]
    },
    {
        "id": "8bd046feb6b3a2ab",
        "type": "ui_gauge",
        "z": "077c3cbfbd251567",
        "name": "suhu",
        "group": "60206ce6eeae9852",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "suhu",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "7606bba2a7b6f554",
        "type": "ui_gauge",
        "z": "077c3cbfbd251567",
        "name": "kelembaban",
        "group": "0f4a141f31fe37f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "kelembaban",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "1d364b42ab318224",
        "type": "mqtt out",
        "z": "077c3cbfbd251567",
        "name": "kontrol led",
        "topic": "/10121022/test/mqtt",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8eaad97b18886c7c",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "60395e9038486f21",
        "type": "ui_switch",
        "z": "077c3cbfbd251567",
        "name": "",
        "label": "led_biru",
        "tooltip": "",
        "group": "5bfc189ae5d5caf7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "hidup4",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mati4",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "1d364b42ab318224"
            ]
        ]
    },
    {
        "id": "fa7908cc60cb072b",
        "type": "ui_switch",
        "z": "077c3cbfbd251567",
        "name": "",
        "label": "led_merah",
        "tooltip": "",
        "group": "5bfc189ae5d5caf7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "hidup5",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mati5",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "1d364b42ab318224"
            ]
        ]
    }
]